<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.Git.com.EGIT.TestNaukri"/>
     <!--  <class name="com.Git.com.EGIT.addcookies"/>
      <class name="com.Git.com.EGIT.drag_drop"/>
      <class name="com.Git.com.EGIT.AppTest"/>
      <class name="com.Git.com.EGIT.robot_upload"/>
      <class name="com.Git.com.EGIT.iframes"/>
      <class name="com.Git.com.EGIT.BootStrap"/>
      <class name="com.Git.com.EGIT.alert"/>
      <class name="com.Git.com.EGIT.multiplewindow"/>
      <class name="com.Git.com.EGIT.Chrome"/>
      <class name="com.Git.com.EGIT.wait"/>
      <class name="com.Git.com.EGIT.robot"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
